<!-- Authors: Daniel Mehlber, -->

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!-- Entry point of web application -->
    <welcome-file-list>
        <welcome-file>/index</welcome-file>
    </welcome-file-list>

    <!-- Redirects to login if any action is unauthorized -->
    <error-page>
        <location>/index</location>
        <exception-type>com.esports.manager.userManagement.exceptions.UnauthorizedException</exception-type>
    </error-page>
    
    <error-page>
        <error-code>404</error-code>
        <location>/jsp/notFoundError.jsp</location>
    </error-page>
    
</web-app>