html {
    height: 100%;
    margin: 0px;
}

body {
    margin: 0px;;
    display: grid;
    height: 100%;
    overflow-x: hidden;
}

main {
    grid-area: main-panel;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--main-bg-color);
    box-shadow: rgb(0 0 0 / 35%) -7px 0px 15px;
    transition: left 0.5s;
    transition-timing-function: cubic-bezier(0.47, 0.14, 0.48, 1.15);
}

.add-team-card {
    border-radius: 10px;
    background-color: #1d274c;
    width: 530px;
    height: 648px;
    display: grid;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    justify-items: center;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
}

.name-input {
    grid-column: 1 / span 2;
    grid-row: 1;
    width: 90%;
}
.slogan-input {
    grid-column: 1 / span 2;
    grid-row: 2;
    width: 90%;
}

.profile-input {
    grid-column: 1;
    grid-row: 3;
    width: 80%;
    height: 50px;
}

.background-input {
    grid-column: 2;
    grid-row: 3;
    width: 80%;
    height: 50px;
}

.enter-button {
    height: 48px;
    width: 90%;
}

.cancel-button {
    height: 48px;
    width: 90%;
}