html {
    background-color: var(--main-bg-color);
    height: 100%;
}

body {
    height: 100%;
    margin: 0px;
}

* {
    --main-bg-color: #0E0F21;
    --main-fg-color: #2B92D5;
    font-family: 'Inter';
    font-weight: 700;
    color: white;
}

/*Text Elements*/
input{
    font-size: 20px;
    color: #FFFFFF;
    background-color: transparent;
    border: 3px solid var(--main-fg-color);
    border-radius: 10px;            /*With border-radius you can defines the radius of an element*/
    padding-left: 16px;
    padding-right: 16px;
    width: 359px;
    height: 50px;
    transition: 0.5s;
    margin: 10px;
}

input:focus{
    box-shadow: 0px 0px 15px 2px var(--main-fg-color);    
    /*Attaches shadow to an element: horizontal offset | vertical offset | blur-radius | spread-radius | color*/ 
    outline: none;
}
input:not(:placeholder-shown):invalid{
    border-color: #D52B2B;
    outline: none;
    box-shadow: 0px 0px 15px 2px #D52B2B;
}

/*Button Elements*/
button{
    font-size: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: var(--main-fg-color);
    border: 3px solid var(--main-fg-color);
    border-radius: 8px;             /*With border-radius you can defines the radius of an element*/
    transition: 0.5s; 
}
button:hover{
    background: #37A7F0;
    transform: translateY(-5px);
}
button:active{
    background-color: var(--main-fg-color);
    box-shadow: inset 0px 4px 20px rgba(0, 0, 0, 0.25);
    /*filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));*/
}

/*Alternative Button*/
.cancel-button, .secondary-button {
    font-size: 20px;
    text-transform: uppercase;
    color: var(--main-fg-color);
    background-color: transparent;
    border: 3px solid #2B92D5;
}
.cancel-button:hover, .secondary-button:hover {
    color: #FFFFFF;
    background: var(--main-fg-color);
}

.cancel-button:active, .secondary-button:active {
    box-shadow: inset 0px 4px 20px rgba(0, 0, 0, 0.25);
    /*filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));*/
}

/* for text of error messages*/
.error-message-text {
    text-align: center;
    color: red;
    font-weight: bold;
}

@keyframes float {
	0% {
		transform: translatey(5px);
	}
	50% {
		transform: translatey(-5px);
	}
	100% {
		transform: translatey(5px);
	}
}


main > .main-content-container {
    padding: 50px;
}