*{
    color: white;
    --main-color: #2B92D5;
    --sec-color: #1d274c;
    font-size: 14px;
}

html{
    background-color: var(--main-bg-color);
    height: 100%;
}

body{

}

main{

}

#main-container{
    display: flex;
    width: 100%;
    justify-content: center;
}

#main-content{
    align-items: center;width: 1250px;
    background-color: var(--sec-color);
    margin-top: 20px;
    border: 3px solid var(--sec-color);
    border-radius: 20px;
    padding: 0px 25px;
}