/*---Login---*/

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-card{
    border-radius: 10px;
    background-color: #1d274c;
    width: 530px;
    height: 648px;
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;

    /* defines colums and rows as areas of the grid (set area using grid-area) */
    grid-template-areas:
                    "logo logo"
                    "username username"
                    "password password"
                    "error-text error-text"
                    "cancel continue";
    grid-template-rows: auto min-content min-content 20px auto;
    transition: all 1s;
}

.login-card:hover {
    box-shadow: rgb(0 255 255 / 36%) 0px 0px 15px 3px;
}


input.password {
    grid-area: password;
}

input.username {
    grid-area: username;
}

.img{
    width: 150px;
    height: 150px;
}

.logo {
    transition: all 0.5s;
    grid-area: logo;
}

.logo:hover {
    transform: translateY(-5px);
}

.text{
    width: 359px;
    height: 48px;
}
.password{
    width: 359px;
    height: 48px;
}

.enter-button{
    width: 161px;
    height: 48px;
    grid-area: continue;
}

.cancel-button{
    width: 161px;
    height: 48px;
    grid-area: cancel;
}

.error-text{
    color: #D52B2B;
    font-size: 15px;
    grid-area: error-text;
}