* {
    color: white;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.profile-card {
    border: #FFFFFF;
    height: 100%;
    display: grid;

    color: #1d274c;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "player-info"
    "."
    "team-container";
"."
}

.player-info {
    border-radius: 10px;
    background-color: #1d274c;
    height: 200px;
    width: 900px;

    border: 3px solid #1d274c;

    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;

    grid-template-columns:  1fr 0.5fr 1.5fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    ". . ."
    "image username ."
    "image email ."
    ". . .";

    grid-area: player-info;
}

.profile-picture {
    border-radius: 50%;
    border: 3px solid white;
    height: 150px;
    width: 150px;
    grid-area: image;
}

.username {
    grid-area: username;
    font-size: 25px;
}

.email {
    grid-area: email;
    font-size: 20px;
}


.team-container {
    border-radius: 10px;
    background-color: #1d274c;

    height: 200px;
    width: 900px;

    border: 3px solid #1d274c;

    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    grid-template-areas:
    "team-picture team-name game-name"
    "team-picture tags game-role";
    grid-template-rows: auto auto auto;

    grid-area: team-container;
}

.team {
    grid-area: team-name;
}

.team-image {
    grid-area: team-picture;
    height: 150px;
    width: 150px;
}

.tags {
    grid-area: tags;
}

.game {
    grid-area: game-name;
}

.game-role {
    grid-area: game-role;
}