/*@Author Philipp Phan*/
* {
    color: white;
    --main-color: #2B92D5;
    --sec-color: #1d274c;

}

html {

}

body {

}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    row-gap: 20px;
    overflow-x: hidden;
    min-height: 100%;
}
/*Background Image and Background Container*/
.background-image-container {
    margin-top: 20px;
    width: 900px;
    background: rgba(29, 39, 76, 0.87);
    backdrop-filter: blur(20px);
    border: 3px solid var(--sec-color);
    border-radius: 20px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;

    grid-template-areas:
    "bg-label bg-image-upload .";
}
.background-image {
    z-index: -1;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.background-image-input {
    display: none;
}

.background-image-upload {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 0px;
    gap: 15px;
    grid-area: bg-image-upload;
}



.input-bg-label {
    padding: 4px;
    height: 20px;
    width: 160px;
    background-color: #2b92d5;
    font-size: 20px;
    border-radius: 8px;
    border: 3px solid #2b92d5;
    text-transform: uppercase;
}

.bg-image-label{
    font-size: 22px;
    grid-area: bg-label;
}

/*Profile Container*/

.profile-card {
    width: 900px;
    height: 250px;
    background: rgb(29 39 76 / 74%);
    backdrop-filter: blur(4px);
    border: 3px solid var(--sec-color);
    border-radius: 20px;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "image username ."
        "image nickname ."
        "label form .";
}

.username {
    font-size: 35px;
    justify-self: baseline;
    grid-area: username;
}

.nickname {
    font-size: 20px;
    align-self: baseline;
    justify-self: baseline;
    grid-area: nickname;
}

/*Profile Image*/
.profile-image-label{
    font-size: 22px;
    grid-area: label;
}

.profile-image {
    border-radius: 50%;
    border: 4px solid var(--main-fg-color);
    height: 160px;
    width: 160px;
    margin-top: 10px;

    grid-area: image;
}

.profile-image-form {
    gap: 15px;
    display: flex;
    justify-content: start;
    grid-area: form;
    margin: 0px;
}

.profile-image-input {
    display: none;
}

.input-profile-label{
    grid-area: profile-image-input;
    padding: 4px;
    height: 25px;
    width: 160px;
    background-color: #2b92d5;
    font-size: 20px;
    border-radius: 8px;
    border: 3px solid #2b92d5;
    text-transform: uppercase;
    line-height: 26px;
}

.accept-button-profile {
    grid-area: accept-button-profile;
    height: 40px;
    width: 100px;
}

/*Remove User Button*/
.remove-button {
    font-size: 15px;
    text-transform: uppercase;
    height: 35px;
    width: 120px;
    border-radius: 8px;
    border: 3px solid #D52B2B;
    background-color: #D52B2B;
    text-align: center;
    line-height: 35px;
    text-decoration: none;
    transition: 0.5s;
}

.remove-button:hover {
    transform: translateY(-1px);
    background-color: rgba(213, 43, 43, 0.9);
    transition: 0.5s;
}

.remove-button:hover {
    background-color: #D52B2B;
    box-shadow: inset 0px 4px 20px rgba(0, 0, 0, 0.25);
}

/*Log-out Button*/
.log-out-button{
    font-size: 20px;
    height: 35px;
    width: 120px;
}