/*
Author: Maximilian Rublik
 */

main {
    flex-direction: column;
}

.info-area {
    background-color: #1D274C;
    border-radius: 4px;
    display: grid;
    width: 1050px;
    margin: 100px auto 50px auto;
    padding: 50px;
}

table {
    border-collapse: collapse;
}

th {
    color: #FFFFFF;
    text-align: left;
    border-bottom: 2px solid #000000;
    border-collapse: collapse;
}

.head-information {
    margin-bottom: 20px;
    display: grid;
    grid-template-areas:
        "Logo Title Remove-Button"
        "Logo Slogan Slogan";
    grid-template-columns:
        auto 1fr;
    grid-template-rows:
        auto 1fr;
}

.team-logo {
    float: left;
    border-radius: 50%;
    border-color: #2B92D5;
    border-width: 2px;
    border-style: solid;
    height: 196px;
    width: 196px;
    margin-right: 20px;
    grid-area: Logo;
}

.team-title {
    float: left;
    font-size: 50px;
    color: #FFFFFF;
    text-decoration: underline;
    grid-area: Title;
}

.remove-team-button {
    grid-area: Remove-Button;
    background-color: red;
}

.team-slogan {
    grid-area: Slogan;
    color: #989898;
}

tr {
    color: #FFFFFF;
}

.add-button {
    height: 32px;
    width: 32px;
    color: #FFFFFF;
    font-size: 20px;
    alignment: center;
    background-color: lime;
    text-decoration: none;
    float:right;
    border-radius: 4px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.remove-button {
    font-size: 20px;
    height: 20px;
    width: 20px;
    alignment: center;
    text-decoration: none;
    background-color: #D52B2B;
    border-radius: 4px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-row {
    border-bottom: solid 1px #000000;
}

.game-area {
    display: grid;
    margin: 0px auto;
    align-content: center;
    align-items: center;
    row-gap: 15px;
}

.game-container {
    background-color: #1D274C;
    border-radius: 4px;
    width: 1050px;
    height: 150px;
    display: grid;
    padding: 50px;
    grid-template-areas:
        "Logo Title"
        "Logo Description";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.game-cover-image {
    height: 150px;
    width: 150px;
    border-width: 2px;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 50%;
    border-style: solid;
    border-color: var(--main-fg-color);
    grid-area: Logo;
}

.game-title {
    grid-area: Title;
    text-decoration: underline;
}

.game-description {
    grid-area: Description;
}

h1, h2, h3{
    margin: 0px;
}