/*
Author: Maximilian Rublik
 */

.info-area {
    background-color: #1D274C;
    border-radius: 4px;
    display: grid;
    width: 1050px;
    margin: auto;
    align-content: center;
    align-items: center;
    padding: 50px;
}

table {
    border-collapse: collapse;
}

th {
    color: #FFFFFF;
    text-align: left;
    border-bottom: 2px solid #000000;
    border-collapse: collapse;
}

.team-title {
    float: left;
    font-size: 50px;
    color: #FFFFFF;
    text-decoration: underline;
}

.head-information {
    margin-bottom: 20px;
}

.team-logo {
    float: left;
    border-radius: 50%;
    border-color: #2B92D5;
    border-width: 2px;
    border-style: solid;
    height: 196px;
    width: 196px;
    margin-right: 20px;
}


tr {
    color: #FFFFFF;
}

.add-button {
    height: 32px;
    width: 32px;
    color: #FFFFFF;
    font-size: 20px;
    alignment: center;
    background-color: lime;
    text-decoration: none;
    float:right;
    border-radius: 4px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.remove-button {
    font-size: 20px;
    height: 20px;
    width: 20px;
    alignment: center;
    text-decoration: none;
    background-color: #D52B2B;
    border-radius: 4px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-row {
    border-bottom: solid 1px #000000;
}

h1, h2{
    margin: 0px;
}