/*
Author: Maximilian Rublik
 */
.teams-area {
    width: 100%;
    padding: 40px;
}

.head-information {
    display: flex;
    align-items: center;
}

#teams-title {
	float: left;
    font-size: 50px;
    width: 300px;
    height: 67px;
    color: #FFFFFF;
    flex-grow: 2;
}

.game-selection {
	float: right;
	height: 58px;
    margin: 10px;
}

.add-button {
	height: 58px;
	width: 58px;
    color: #FFFFFF;
    font-size: 20px;
    alignment: center;
	background-color: lime;
    text-decoration: none;
	float:right;
    border-radius: 4px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}


.team-container {
    box-sizing: content-box;
    background: #1d274ca1;
    border-radius: 10px;
    height: 120px;
    padding: 50px;
    /* margin: auto; */
    display: grid;
    margin-bottom: 15px;
    /* width: 80%; */
    grid-template-columns: auto 1fr auto;
    column-gap: 15px;
    grid-template-rows: auto 1fr;
    position: relative;
}

img.team-background {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: inherit;
}

.team-title {
    grid-column: 2; grid-row: 1;
    color: #FFFFFF;
    font-size: 30px;
    text-decoration: underline;
}

.team-logo {
    grid-column: 1; grid-row: 1 / span 2;
    border-radius: 50%;
    border-color: #2B92D5;
    border-width: 2px;
    border-style: solid;
    height: 116px;
    width: 116px;
}

.player-logo {
    display:inline-block;
    height: 40px;
    width: 40px;
    border: 2px #2B92D5 solid;
    border-radius: 50%;
    grid-column: 3;
}

.players {
    grid-column: 3;
}

.tags {
    grid-column: 2; grid-row: 2;
    color: #989898;
}

h2 {
    margin-block-start: 0;
    margin-block-end: 0;
}