/*---Registration---*/

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.registrationCard{
    border-radius: 10px;
    background-color: #1d274c;
    width: 530px;
    height: 648px;
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    
/* defines colums and rows as areas of the grid (set area using grid-area) */
    grid-template-areas: 
                "logo logo"
                "email email"
                "username username"
                "password password"
                "cancel continue";
    grid-template-rows: auto min-content min-content min-content auto;
    transition: all 0.5s;
}

.registrationCard:hover {
    box-shadow: 0px 0px 37px 3px rgba(0, 255, 255, 0.36);
}

input.password{
    grid-area: password;
}
input.username{
    grid-area: username;
}
input.email{
    grid-area: email;
}
.img{
    width: 150px;
    height: 150px;
}

.logo {
    transition: all 0.5s;
    grid-area: logo;
}

.logo:hover {
    transform: translateY(-5px);
}

.email{
    width: 359px;
    height: 48px;  
}
.text{
    width: 359px;
    height: 48px;  
}
.password{
    width: 359px;
    height: 48px;
}
.enterButton{
    width: 161px;
    height: 48px;
    grid-area: continue;
}
.cancelButton{
    width: 161px;
    height: 48px;
    grid-area: cancel;
}